<div class="space-y-6">
	<h2 class="text-2xl font-bold md:text-4xl">Timeline</h2>
	<div class="space-y-8">
		<div>
			<h3 class="mb-3 text-lg font-bold md:text-xl">2021</h3>
			<ul class="space-y-4">
				<li class="ml-2 space-y-1">
					<div class="flex items-center">
						<svg viewBox="0 0 24 24" aria-label="Checkmark" class="w-4 h-4 mr-2 dark:text-violet-600">
							<g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</g>
						</svg>
						<h4 class="font-medium">Vel an apeirian assentior</h4>
					</div>
					<p class="ml-6 dark:text-gray-600">Eam eu stet porro fabellas, accumsan prodesset cum ad, has cu odio mundi neglegentur. Cu solum vocent fabellas vix, an dicant constituto duo.</p>
				</li>
				<li class="ml-2 space-y-1">
					<div class="flex items-center">
						<svg viewBox="0 0 24 24" aria-label="Checkmark" class="w-4 h-4 mr-2 dark:text-violet-600">
							<g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</g>
						</svg>
						<h4 class="font-medium">Mea ea diam vidisse</h4>
					</div>
					<p class="ml-6 dark:text-gray-600"> Vero facete sea ne. Ludus saperet scriptorem no usu. Legere intellegam delicatissimi te sit. Vis te oporteat deterruisset.</p>
				</li>
			</ul>
		</div>
		<div>
			<h3 class="mb-3 text-lg font-bold md:text-xl">2020</h3>
			<ul class="space-y-4">
				<li class="ml-2 space-y-1">
					<div class="flex items-center">
						<svg viewBox="0 0 24 24" aria-label="Checkmark" class="w-4 h-4 mr-2 dark:text-violet-600">
							<g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</g>
						</svg>
						<h4 class="font-medium">Vix at latine consulatu.</h4>
					</div>
					<p class="ml-6 dark:text-gray-600">Cu eum nostrum repudiare, sed dicat doming integre in. Id scripta percipit lucilius pro, te eam libris verterem.</p>
				</li>
				<li class="ml-2 space-y-1">
					<div class="flex items-center">
						<svg viewBox="0 0 24 24" aria-label="Checkmark" class="w-4 h-4 mr-2 dark:text-violet-600">
							<g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
								<path d="M22 4L12 14.01l-3-3"></path>
							</g>
						</svg>
						<h4 class="font-medium">Eam eu stet porro fabellas</h4>
					</div>
					<p class="ml-6 dark:text-gray-600">Cut et laoreet vocibus adipisci. Verear utroque perpetua per eu.</p>
				</li>
			</ul>
		</div>
	</div>
</div>
