{% extends 'base.html' %}

{% block content %}
<div class="space-y-6">
	<div>
		<h2 class="text-3xl font-extrabold dark:text-gray-900">Writings</h2>
		<p>Occasional posts on philosophical and technological topics</p>
	</div>
	<ul class="space-y-8 xl:space-y-10">
		{% set blog_section = get_section(path="blog/_index.md") %}
		{% for post in blog_section.pages %}
		<li>
			<article>
				<dl>
					<dt class="sr-only">Published on</dt>
					<dd class="text-xs dark:text-gray-600">
						<time datetime="{{ post.date }}">{{ post.date }}</time>
					</dd>
				</dl>
				<div class="space-y-1">
					<h3 class="text-2xl font-bold tracking-tight">
						<a rel="noopener noreferrer" href="{{ post.permalink }}" class="dark:text-gray-900">{{ post.title }}</a>
					</h3>
					<p class="max-w-full dark:text-gray-800 prose prose-invert">{{ post.extra.abstract }}</p>
				</div>
			</article>
		</li>
		{% endfor %}
	</ul>
</div>
<div class="space-y-6 pt-6">
	<div>
		<h2 class="text-3xl font-extrabold">Projects</h2>
		<p>Here are some of my current endeavors.</p>
	</div>
	<div class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2">
		<a rel="noopener noreferrer" href="https://tlehl.com" aria-label="TLEHL image" class="flex flex-col dark:bg-gray-50">
			<img alt="" class="object-cover w-full dark:bg-gray-500 h-52" src="imgs/tlehl_logo_tile.webp">
		</a>
		<div class="flex flex-col flex-1 p-6">
			<a rel="noopener noreferrer" href="https://tlehl.com" aria-label="TLEHL" class="flex flex-col dark:bg-gray-50"></a>
			<a rel="noopener noreferrer" href="https://tlehl.com" class="text-xs tracking-wider uppercase hover:underline dark:text-sky-600">Entrepreneurial</a>
			<h3 class="flex-1 py-2 text-lg font-semibold leading-snug">TLEHL: fully licensed NJ craft cannabis manufacturer</h3>
			<div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs dark:text-gray-600">
				<span>Pre-seed venture</span>
				<span>Founded September 2022</span>
			</div>
		</div>
		<a rel="noopener noreferrer" href="https://basementtapas.com" aria-label="Basement Tapas image" class="flex flex-col dark:bg-gray-50">
			<img alt="" class="object-cover w-full dark:bg-gray-500 h-52" src="imgs/basement_tapas.webp">
		</a>
		<div class="flex flex-col flex-1 p-6">
			<a rel="noopener noreferrer" href="https://basementtapas.com" aria-label="Basement Tapas radio" class="flex flex-col dark:bg-gray-50"></a>
			<a rel="noopener noreferrer" href="https://basementtapas.com" class="text-xs tracking-wider uppercase hover:underline dark:text-sky-600">Creative</a>
			<h3 class="flex-1 py-2 text-lg font-semibold leading-snug">Basement Tapas: eclectic plates of music on Saturday nights</h3>
			<div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs dark:text-gray-600">
				<span>#RadioFreeMontclair</span>
				<span>Started January 2024</span>
			</div>
		</div>
		<a rel="noopener noreferrer" href="https://github.com/jazzband/geojson" aria-label="GeoJSON image" class="flex flex-col dark:bg-gray-50">
			<img alt="" class="object-cover w-full dark:bg-gray-500 h-52" src="imgs/geojson.webp">
		</a>
		<div class="flex flex-col flex-1 p-6">
			<a rel="noopener noreferrer" href="https://github.com/jazzband/geojson" aria-label="GeoJSON" class="flex flex-col dark:bg-gray-50"></a>
			<a rel="noopener noreferrer" href="https://github.com/jazzband/geojson" class="text-xs tracking-wider uppercase hover:underline dark:text-sky-600">Technologist</a>
			<h3 class="flex-1 py-2 text-lg font-semibold leading-snug">GeoJSON: project lead of Python package depended on by over 17,000 GitHub repos</h3>
			<div class="flex flex-wrap justify-between pt-3 space-x-2 text-xs dark:text-gray-600">
				<span>Volunteer open source maintainer</span>
				<span>Since 2019</span>
			</div>
		</div>
	</div>
</div>
<div class="space-y-6 pt-6">
	<a rel="noopener noreferrer" href="https://reverb.com/shop/nyc-vintage-audio-gear-deals">
		<img class="object-center" src="https://rvb-img.reverb.com/image/upload/s--F_kZSGmb--/f_jpg,t_shop-banner/v1725968309/te0cdtdqv5y2h032sdj6.png" alt="NYC Vintage Audio Gear Deals">
	</a>
</div>
{% endblock content %}
